*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_body .calculator-body{
    height: 700px;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
}

.main_body .calculator-body .display-area input{
    height: 5rem;
    text-align: end;
    outline: none;
}

.main_body .calculator-body .buttons-area .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body .calculator-body .buttons-area .row .col .btn{
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}